<label for="{{parameterContentTypeId}}" data-sw-translate>Content Type Parámetro:</label>
<select name="parameterContentType" id="{{{sanitize parameterContentTypeId}}}">
{{#if consumes}}
  {{#each consumes}}
  <option value="{{{sanitize this}}}">{{{sanitize this}}}</option>
  {{/each}}
{{else}}
  <option value="application/json">application/json</option>
{{/if}}
</select>
