<div class='panel panel-default'>

    <div class='panel-heading heading pointer-cursor toggleEndpointList' href='#!/{{id}}' data-id="{{id}}">
        <h2>
            {{name}} {{#summary}}: {{/summary}}{{{summary}}}
        </h2>
    </div>


    <div class='panel-body'>
        <ul class='endpoints' id='{{id}}_endpoint_list' style='display:none'>

        </ul>
    </div>
</div>